.container {
    display: flex;
    flex-direction: column;
    min-width: 340px;
    height: 100%;
    overflow-x: hidden;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
}

@font-face {
    font-family: 'Monotype Corsiva';
    font-weight: 400;
    font-style: normal;
    src: local("Monotype-Corsiva-Regular"), url('../fonts/Monotype-Corsiva-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Monotype Corsiva';
    font-weight: 400;
    font-style: italic;
    src: local("Monotype-Corsiva-Regular-Italic."), url('../fonts/Monotype-Corsiva-Regular-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Monotype Corsiva';
    font-weight: 700;
    font-style: bold;
    src: local("Monotype-Corsiva-Regular-Bold"), url('../fonts/Monotype-Corsiva-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Monotype Corsiva';
    font-weight: 700;
    font-style: bold italic;
    src: local("Monotype-Corsiva-Bold-Italic."), url('../fonts/Monotype-Corsiva-Bold-Italic.ttf') format('truetype');
}

