.container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.content {
    display: flex;
    flex: 1;
    // margin: 50px;
}

.museum {
    flex: 1;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.header {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    row-gap: 40px;
    padding: 0 100px;
}

.museumSections {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

.section {
    padding: 50px 100px;
    box-shadow: 0px 0px 15px 5px rgba(31, 164, 117, 0.12);
}



.title {
    h1,h2,h3 {
        margin: 0;
        font-size: 40px;
        font-weight: 800;
        line-height: 1.2;
        text-transform: uppercase;
        font-family: 'Kanit', sans-serif;
        color: #2c3e50;
        font-style: normal;
        letter-spacing: 0.5px;

        // background: linear-gradient(90deg, #2c3e50, #4caf50);
        background: linear-gradient(180deg, #bd3026,  #4caf50);
        
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    }
}


.description {
    margin-top: 20px;
    max-width: 900px;
    
    p {
        margin: 0;
        padding: 0;
        font-family: 'Kanit', sans-serif;
        font-size: 24px;
        font-weight: 400;
        line-height: 1.5;
        text-align: center;
    }
}

.no {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
        font-family: 'Kanit', sans-serif;
        font-size: 36px;
        font-weight: 700;
        color: #007bff;
        text-transform: uppercase;
        text-align: center;
    }
}