.container {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // align-items: center;
    padding: 5px 35px;
    flex: 1;
    min-height: 174.716px;
}

.content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    .text {
        color: #777777;
        p {
            font-family: 'Kanit', sans-serif;
            font-size: 16px;
            line-height: 1.2;
            text-align: justify;
            padding: 0;
            margin: 0;
        }

    }
    .image {
        max-width: 164.617px;
        max-height: 164.617px;

        img {
            max-width: 100%;
        }
    }
}



@media screen and (max-width: 850px) {

    .container {
        flex-direction: row;
        padding: 20px 5px;
    }

    .content {
        flex: 1;
        
        .text {
            flex: 1;
            padding: 0 40px 0 0;

        }
        .image {
            max-width: 100px;
            max-height: 100px;

        }
    }

}

@media screen and (max-width: 520px) {

    .content {
        
        .text {
            p {
                font-size: 12px;
            }
        }
    }

}

@media screen and (max-width: 480px) {


    .content {
        .image {
            max-width: 70px;
            max-height: 70px;

        }
    }

}