.container {
    user-select: none;
    cursor: pointer;
    
    .month {
        font-family: 'Kanit', Times, serif;
        text-transform: uppercase;
        padding: 5px;

    }

    .selected {
        color: green;
    }
}