.container {
    display: flex;
    flex-direction: column;
    row-gap: 80px;

    .events {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 80px;
        row-gap: 40px;
    }

    @media screen and (max-width: 1500px) {

        .events {
            grid-template-columns: 1fr;
        }
        
    }
}

@media screen and (max-width: 1500px) {

    .events {
        grid-template-columns: 1fr;
    }
    
}