.container {
    .day {
        padding: 5px;


        &:hover {
            user-select: none;
            cursor: pointer;
        }  
    }
    .hasEvents {
        position: relative;
    }
    .hasEvents::after {
        content: '';
        position: absolute;
        right: 5px;
        top: 5px;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: red;
    }
    
    .selected {
        background-color: blue;
    }

    .workday {

    }

    .weekend {
        color: red;
    }

    .holiday {
        color: red;
    }

    .prevMonthDay {
        color: #aaa;
    }

    .nextMonthDay {
        color: #ccc;
    }
}