.container {

}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    flex-wrap: wrap;

    @media screen and (max-width: 1400px) {
        & {
            grid-template-columns: 1fr 1fr;
        }
    }

    @media screen and (max-width: 1100px) {
        & {
            grid-template-columns: 1fr;
        }
    }

}