.container {
    display: flex;
    // justify-content: center;
    // align-items: center;
}


.content {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    flex-direction: row;
    row-gap: 30px;
    column-gap: 30px;
    flex-wrap: wrap;

    @media screen and (max-width: 1400px) {
        & {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }

    @media screen and (max-width: 1100px) {
        & {
            grid-template-columns: 1fr 1fr;
        }
    }

    @media screen and (max-width: 750px) {
        & {
            grid-template-columns: 1fr;
        }
    }
}